# Question 1

In [18]:
import numpy as np
import pandas as pd

In [2]:
ice_data = np.array([[98, 15], [87, 12], [90, 10], [85, 10],[95, 16],[75, 7], [92, 14], [80, 9], [88, 11], [93, 13]])
ice_data

array([[98, 15],
       [87, 12],
       [90, 10],
       [85, 10],
       [95, 16],
       [75,  7],
       [92, 14],
       [80,  9],
       [88, 11],
       [93, 13]])

In [3]:
df = pd.DataFrame(ice_data, columns=['Temperature', 'Num_customers'])
df

   Temperature  Num_customers
0           98             15
1           87             12
2           90             10
3           85             10
4           95             16
5           75              7
6           92             14
7           80              9
8           88             11
9           93             13

In [4]:
#temperature: x
#Number of customers: y

x_mean = np.mean(df.Temperature)
y_mean = np.mean(df.Num_customers)

In [5]:
x_diff = df.Temperature - x_mean
y_diff = df.Num_customers - y_mean

numerator = sum(x_diff * y_diff)
denominator = (sum(x_diff**2) * sum(y_diff**2)) ** 0.5

r = numerator / denominator
print(f"Pearson correlation coefficient calculated manually: {r}")
print(f"Pearson correlation coefficient caluclated using in built function: {np.corrcoef(df.Temperature, df.Num_customers)[0, 1]}")

Pearson correlation coefficient calculated manually: 0.9186718493897071
Pearson correlation coefficient caluclated using in built function: 0.9186718493897073