In [6]:
import numpy as np
import pandas as pd

data = {'Hours_Studied': [2,3,4,5,6,7], 'Hours_Watching_TV': [4,3,2,1,0,0], 'Outdoor_Activity_Time': [2,4,6,8,10,12], 'Hours_Listening_to_Music': [2,3,4,1,5,0], 'Water_Consumed': [5,6,5,6,4,5], 'Test_score': [65, 70, 75, 80, 85, 90]}
df = pd.DataFrame(data)

In [7]:
df

,Hours_Studied,Hours_Watching_TV,Outdoor_Activity_Time,Hours_Listening_to_Music,Water_Consumed,Test_score
0,2,4,2,2,5,65
1,3,3,4,3,6,70
2,4,2,6,4,5,75
3,5,1,8,1,6,80
4,6,0,10,5,4,85
5,7,0,12,0,5,90

In [15]:
columns = df.columns

def correlation_coefficient(x, y):
    x_mean = np.mean(x)
    y_mean = np.mean(y)
    
    x_diff = x - x_mean
    y_diff = y - y_mean

    numerator = sum(x_diff * y_diff)
    denominator = (sum(x_diff**2) * sum(y_diff**2)) ** 0.5

    r = numerator / denominator
    return r


corr_with_scores = []
for column1 in columns:
    corr_with_scores.append(correlation_coefficient(df[column1], df.Test_score))

corr_with_scores

[1.0, -0.9819805060619656, 1.0, -0.2, -0.3550358012483632, 1.0]